<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Message</title>

        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/check.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h2>{{message.subject}}</h2>            
            <p><b>From:</b> {{message.sender}}</p>
            <p><b>To:</b> {{message.to}}</p>
            <p><b>Time:</b> {{message.date.strftime('%I:%M %p')}}</p>
            <p>{{message.plain_text}}</p>
        </div>
    </body>
</html>